# Variables d'environnement FastAPI
# Copier ce fichier en .env et remplir les vraies valeurs
# Ne jamais committer le fichier .env

DATABRICKS_HOST=votre-host.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/votre-warehouse-id
DATABRICKS_TOKEN=votre-token-databricks
